<!-- Página para restablecer la contraseña -->
<ion-content>
  <ion-header>
    <ion-toolbar class="ion-header">
      <ion-title class="ion-header">Restablecer Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Banner superior -->
  <div class="foto-banner">
    <img src="assets/perrio.jpg" alt="Restablecer Contraseña Banner" />
  </div>

  <!-- Formulario para nueva contraseña -->
  <ion-content class="ion-padding">
    <form (ngSubmit)="onResetPassword()">
      <ion-item class="input-item">
        <ion-label position="floating" class="input-label"
          >Nueva contraseña</ion-label
        >
        <ion-input
          type="password"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
        ></ion-input>
      </ion-item>
      <ion-button
        expand="block"
        type="submit"
        class="cambiar-button"
        fill="clear"
      >
        Guardar nueva contraseña</ion-button
      >
    </form>
  </ion-content>
</ion-content>
