// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// Paleta de colores personalizada para Patita Sana
:root {
  --green-matcha: #a4c084;
  --green-matcha-dark: #778a61;
  --green-matcha-light: #b0cca5;
  --matcha-latte-clear: #e3ecd9;
  --white: #fff;
  --gray-bg: #f8f8f0;
  --text-dark: #333;
  --text-light: #666;
}
