<ion-content class="ion-padding login-content">
  <div class="login-container">
    <div class="login-banner">
      <img src="assets/perrio.jpg" alt="Login Banner" />
      <div class="login-text">
        <h1 class="bienvenido-text">Bienvenido!</h1>
        <p>Inicia sesión para continuar</p>
      </div>
    </div>

    <form (ngSubmit)="onLogin()">
      <ion-item class="input-item">
        <ion-label position="stacked" class="input-label">Correo</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="email"
          name="email"
          required
          class="custom-input"
        ></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="stacked" class="input-label">Contraseña</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          class="custom-input"
        ></ion-input>
      </ion-item>

      <ion-button
        class="login-button"
        expand="block"
        fill="solid"
        type="submit"
      >
        Entrar
      </ion-button>
    </form>

    <ion-button
      expand="block"
      fill="clear"
      (click)="resetPassword()"
      class="forgot-password"
    >
      ¿Olvidaste tu contraseña?
    </ion-button>

    <div class="register-link">
      <span>No eres miembro?</span>
      <a (click)="goToRegister()">Regístrate ahora</a>
    </div>
  </div>
</ion-content>
