ion-content {
  --background: #f8f8f0 !important; /* o el color que quieras */
}

.ion-header {
  --background: #a4c084 !important; /* o el color que quieras */
}

.registro-button {
  background-color: #a4c084;
  --color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 12px;
}

.custom-input {
  --backgrond: #f8f8f8;
}

.input-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-color: #a4c084;
  --highlight-color-focused: #a4c084;
  margin-bottom: 20px;
  overflow: visible; /* Esto es clave para que el label no se corte */
}
.input-label {
  color: #666666 !important;
  font-size: 14px !important;
  margin-bottom: 5px;
  transform-origin: left top !important;
  white-space: nowrap;
}
