<!-- Encabezado de la página -->
<ion-header class="header" translucent="true" fill="clear">
  <ion-toolbar class="header">
    <ion-title class="header">Añade tu mascota</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Formulario para añadir mascota -->
<ion-content class="ion-padding">
  <form (ngSubmit)="onAddPet()">
    <!-- Campo: Nombre -->
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="nombre"
        name="nombre"
        required
      ></ion-input>
    </ion-item>

    <!-- Campo: Número de Ficha -->
    <ion-item>
      <ion-label position="stacked">Número de Ficha</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="fichaNumero"
        name="fichaNumero"
      ></ion-input>
    </ion-item>

    <!-- Campo: Fecha de nacimiento -->
    <ion-item>
      <ion-label position="stacked">Fecha de nacimiento</ion-label>
      <ion-datetime
        presentation="date"
        [(ngModel)]="fechaNacimiento"
        name="fechaNacimiento"
        required
      >
      </ion-datetime>
    </ion-item>

    <!-- Campo: Sexo -->
    <ion-item>
      <ion-label position="stacked">Sexo</ion-label>
      <ion-select [(ngModel)]="sexo" name="sexo" required>
        <ion-select-option value="Macho">Macho</ion-select-option>
        <ion-select-option value="Hembra">Hembra</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Campo: Peso -->
    <ion-item>
      <ion-label position="stacked">Peso (kg)</ion-label>
      <ion-input type="number" [(ngModel)]="peso" name="peso"></ion-input>
    </ion-item>

    <!-- Campo: Foto de la mascota -->
    <ion-item>
      <ion-label>Foto de la mascota</ion-label>
      <input type="file" accept="image/*" (change)="onFotoSelected($event)" />
    </ion-item>

    <!-- Botones de acción -->
    <div class="acciones-group">
      <ion-button
        expand="block"
        color="medium"
        type="button"
        (click)="cancelar()"
        class="cancelar-btn"
        >Cancelar</ion-button
      >
      <ion-button expand="block" type="submit" class="guardar-btn"
        >Guardar Mascota</ion-button
      >
    </div>
  </form>
</ion-content>
