<!-- Menú lateral -->
<ion-menu
  side="start"
  menuId="main-menu"
  contentId="main-content"
  fill="clear"
  class="side-bar-header"
>
  <ion-header class="header">
    <ion-toolbar class="header">
      <ion-title class="menu-title">Patita Sana</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="header">
    <ion-list class="logout">
      <ion-item lines="none" class="logout user">
        <ion-label fill="clear" class="ion-card">
          <h2>{{ userName }}</h2>
        </ion-label>
      </ion-item>
      <ion-item button (click)="logout()" class="logout">
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Contenido principal -->
<ion-content id="main-content" [fullscreen]="true" class="ion-padding">
  <!-- Encabezado principal -->
  <ion-header [translucent]="true" class="header" fill="clear">
    <ion-toolbar class="header">
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title class="header" fill="clear"></ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="titulo-home">Hola de nuevo!</h1>

  <!-- Banner de imagen justo bajo la barra -->
  <img src="assets/prueba1.jpg" alt="" class="fotoportada" />

  <!-- Grid de tarjetas de mascotas -->
  <!-- Botón añadir mascota arriba -->
  <div class="add-mascota-container">
    <ion-button class="add-mascota-btn" (click)="irAAgregarMascota()">
      + Añadir mascota
    </ion-button>
  </div>

  <!-- Lista de tarjetas de mascotas -->
  <div class="mascotas-lista">
    <div
      class="mascota-card"
      *ngFor="let mascota of mascotas"
      (click)="verDetalleMascota(mascota.id)"
    >
      <img
        *ngIf="mascota.fotoUrl"
        [src]="mascota.fotoUrl"
        alt="Foto de {{ mascota.nombre }}"
        class="mascota-foto-circular"
      />
      <div class="mascota-info">
        <div class="mascota-nombre">{{ mascota.nombre | capitalize }}</div>
        <div class="mascota-edad">
          {{ calcularEdadHome(mascota.fechaNacimiento) }}
        </div>
      </div>
    </div>
  </div>
</ion-content>
